* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

body .menu {
    width: 60vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    padding: 15vh 3vw;
    transform: translateX(100%);
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 1;
    transition: ease 0.3s;
}

@media (orientation: portrait) {
    body .menu {
        width: 100vw;
    }
}

body .menu-active {
    transform: translateX(0%);
}

body .menu button {
    background: none;
    border-radius: 50rem;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 1vh 2vh;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 60%;
}

canvas {
    display: block;
}

.burger-icon {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    height: 32px; */
    top: 5vh;
    right: 5vh;
    cursor: pointer;
}

.burger-active #line-3 {
    transition: ease 0.3s;
    transform: translateX(-16px);
}

.burger-icon #line-1,
.burger-icon #line-2 {
    transition: ease 0.3s;
    height: 5px;
    border-radius: 10rem;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}

.burger-icon #line-3 {
    transition: ease 0.3s;
    height: 5px;
    border-radius: 10rem;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
}
.burger-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-slider {
    font-size: 2vh;
    color: white;
    font-family: "Montserrat";
    margin-bottom: 1.5vh;
    text-align: center;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 1.5vh;
    border-radius: 1vw;
    background: rgb(120, 120, 120);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-bottom: 5vh;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: blueviolet;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: blueviolet;
    cursor: pointer;
}
